:root {
    --light-background: #EEFEF0; /* Pastel sea green light mode (lm) bg */
    --dark-background: #2D3040; /* Dark mode (dm) background */
    --text-dark: #1C1E21;
    --text-light: #FFFFFF;
    --primary-green: #CFE3E1; /* Pastel green buttons/accents */
    --primary-green-dark: #98B9B5; /* Darker pastel green hover */
    --button-bg-light: #7ba39a;
    --button-bg-dark: #4A5672;
    --button-text-light: #FFFFFF;
    --button-text-dark: #FFFFFF;
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-dark: rgba(0, 0, 0, 0.4);
    --navbar-bg-color: #3F665E; /* Dark green for navbar */
    --background-dark-grey: #1E1E1E; /* border color */
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--light-background);
    color: var(--text-dark);
}

.dark-mode body {
    background-color: var(--dark-background); /* Override background in dark mode */
    color: var(--text-light); /* Text color in dark mode */
}

/* Additional dark mode background adjustments for sections */
.dark-mode .landing-page,
.dark-mode .login,
.dark-mode .login-contianer,
.dark-mode .form input,
.dark-mode .form button,
.dark-mode .text-field,
.dark-mode .button-alt-option {
    background-color: var(--dark-background); /* Dark background override for main sections */
    color: var(--text-light); /* Ensure text color is light in dark mode */
}

.dark-mode .btn {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
}

.dark-mode .btn:hover {
    background-color: #3A4457;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    margin: 0 0 20px;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 46px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

/* Shadows */
.shadow-1 {
    box-shadow: 0px 1px 3px var(--shadow-light);
}

.shadow-2 {
    box-shadow: 0px 4px 6px var(--shadow-light);
}

.shadow-3 {
    box-shadow: 0px 10px 15px var(--shadow-light);
}

.shadow-4 {
    box-shadow: 0px 20px 25px var(--shadow-light);
}

.shadow-5 {
    box-shadow: 0px 30px 40px var(--shadow-light);
}

/* Button */
.btn {
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    background-color: var(--button-bg-light);
    display: flex;
    width: 150px;
    height: 64px;
    justify-content: center;
    align-items: center;
    color: var(--button-text-light);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-shadow: var(--shadow-light);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--primary-green-dark);
}

.dark-mode .btn {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
}

.dark-mode .btn:hover {
    background-color: #3A4457;
}

/* Navbar */
header {
    background-color: var(--navbar-bg-color);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.dark-mode header {
    background-color: var(--dark-background);
}

.navbar {
    display: flex;
    justify-content: space-between; /* Evenly Space*/
    align-items: center;
    height: 80px;
    padding: 0 50px; /* Side padding */
}

.navbar a {
    color: var(--text-light);
    padding: 0 20px;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--primary-green);
}

.dark-mode .navbar a {
    color: var(--text-light);
}

.dark-mode .navbar a:hover {
    color: var(--button-text-light);
}

/* Responsive Nav */
@media (max-width: 600px) {
    .navbar a {
        font-size: 20px;
    }
}

/* Landing Page */
.landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: var(--light-background);
    max-width: 1200px;
    margin: 0 auto;
}

.landing-page h1 {
    font-size: 60px;
    color: var(--text-dark);
}

.landing-page p {
    font-size: 20px;
    margin: 20px 0;
    color: var(--text-dark);
}

.dark-mode .landing-page {
    background-color: var(--dark-background);
}

.dark-mode .landing-page h1, .dark-mode .landing-page p {
    color: var(--text-light);
}

/* Logo */
.logo img {
    max-width: 300px;
    height: auto; /* Ensure the logo scales properly */
    margin-left: 50px; /* Add spacing between the text and logo */
}

/* Login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 200px; !* padding from nav bar*!*/
    background-color: var(--light-background);
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.login h4 {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.login-contianer {
    /*padding: 50px 31px;*/
    /*width: 500px;*/
    /*gap: 50px;*/
    /*border: 2px solid var(--background-dark-grey, #1E1E1E);*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*align-items: center;*/
    /*border-radius: 35px;*/
    /*box-shadow: 0px 24px 65px 0px rgba(20, 20, 43, 0.16);*/

    position: relative;
    top: 50%;
    transform: translateY(20%);

    /* from figma*/
    display: flex;
    padding: 50px 50px; /* height padding, width padding*/
    flex-direction: column;
    align-items: center;
    gap: 20px; /* space between the classes within this class*/

    border-radius: 35px;
    border: 1px solid var(--background-dark-grey, #1E1E1E);
    background: var(--light-background);

/* Shadow 05 */
box-shadow: 0px 24px 65px 0px rgba(20, 20, 43, 0.16);
}

/* Form */
.login-contianer form {
    /* from figma*/
    display: flex;
    flex-direction: column;
    gap: 5px; /* space between input fields*/
    align-items: center;
}

.login-contianer form input { /* input fields, not labels */
    /*padding: 10px;*/
    /*border-radius: 50px;*/
    /*border: 1px solid #ccc;*/
    /*font-size: 16px;*/
    /*background-color: var(--primary-green);*/
    color: var(--text-dark);

    /* from figma*/
    height: 48px;
    width: 300px;
    flex-shrink: 0;
    align-self: stretch;

    border-radius: 8px;
    border: 1px solid var(--primary-green);
    background-color: var(--primary-green);
}

.login-contianer form button {
    /*padding: 10px;*/
    /*background-color: var(--primary-green);*/
    /*color: var(--button-text-light);*/
    /*border: none;*/
    /*border-radius: 50px;*/

    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    color: var(--text-light);

    /* from figma*/
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;

    border-radius: 8px;
    background: var(--button-bg-dark);
}

.login-contianer form button:hover {
    background-color: var(--primary-green-dark);
}

.dark-mode .form input {
    background-color: var(--button-bg-dark);
    color: var(--text-light);
}

.dark-mode .form button {
    background-color: var(--button-bg-dark);
}

.dark-mode .form button:hover {
    background-color: #3A4457;
}

.text-field {
    /* from figma*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.button-alt-option {
    /* from figma*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

/* Summary slides 6 and 7 */
.genre-container, .vibe-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.genre, .vibe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.genre-photo, .vibe-photo {
    width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    max-width: 400px; /* Adjust the width as needed */
}

/* Styling for the Delete Button */
.btn-delete {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #D9534F;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #C9302C;
}

/* Dark mode switch styling */
.toggle-switch {
    width: 50px;
    height: 25px;
    background-color: #B7D0C6;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: #FFF;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-switch.active {
    background-color: #3F665E;
}

.toggle-switch.active::before {
    transform: translateX(24px);
}