[MESSAGES CONTROL]
disable=
    C0103,  #Invalid name
    E1101,  #Model has no attribute objects
    W0613,  #Unused argument
    W0718,  #Broad-Exception-Caught
    R0801,  #Duplicate Code
    W0404,  #Reimported