<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artists</title>
</head>
<body>
    <h1>Your Top Artists</h1>
    <ul>
         {% for artist in top_five_artists %}
            <div class="artist">
                <h2>{{ artist.name }}</h2>
                <img src="{{ artist.image_url }}" alt="{{ artist.name }}'s image" style="width: 100px; height: auto;"> <!-- Adjust width as needed -->
            </div>
        {% endfor %}
    </ul>
    <h2><a href="{% url 'top_genres' %}">View Your Top Genres</a></h2>

</body>
</html>
