<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artists</title>
</head>
<body>
    <h1>Your Top Artists</h1>
    <ul>
        {% for artist in top_artists %}
            <li>
                <img src="{{ artist.image }}" alt="{{ artist.name }}'s image" style="width:100px;height:auto;">
                <strong>{{ artist.name }}</strong> - Genres: {{ artist.genres|join:", " }}
            </li>
        {% endfor %}
    </ul>
    <h2><a href="{% url 'top_genres' %}">View Your Top Genres</a></h2>

</body>
</html>
