{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'darkmode.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header and Navbar -->
    <header>
        <nav class="navbar">
            <a href="/">Spotify Wrapped</a>
            <a href="#">Contact</a>
            <a href="/accounts/signup" class="btn">Sign Up</a>
        </nav>
    </header>

    <div class="login">
        <div class="login-contianer">
            <h4>Welcome Back!</h4>

            <!-- Display messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <!-- Render form fields with individual error handling -->
                <div class="text-field">
                    {{ form.name }}<br>
                    {{ form.username.label }}<br>
                    {{ form.username }}<br>
                </div>

                {% if form.username.errors %}
                <div class="alert alert-danger">{{ form.username.errors }}</div>
                {% endif %}

                <div class="text-field">
                    {{ form.password.label }}<br>
                    {{ form.password }}<br>
                </div>

                {% if form.password.errors %}
                    <div class="alert alert-danger">{{ form.password.errors }}</div>
                {% endif %}

                <div class="button-alt-option">
                    <button type="submit">Log In</button>
                    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
