{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'darkmode.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header and Navbar -->
    <header>
        <nav class="navbar">
            <a href="/">Spotify Wrapped</a>
            <a href="/contact_developers">Contact</a>
            <a href="/login" class="btn">Login</a>
        </nav>
    </header>

    <div class="login">
        <div class="login-contianer">
            <h4>Sign Up</h4>

            <form method="post">
                {% csrf_token %}

                <!-- Display non-field errors -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                {% endif %}
            <form method="post">

                <!-- Render form fields with individual error handling -->
                <div class="text-field">
                    {{ form.name.label_tag }} {{ form.name }} <br>
                    {{ form.username.label }}<br>
                    {{ form.username }}<br>
                </div>

                {% if form.username.errors %}
                    <div class="alert alert-danger">{{ form.username.errors }}</div>
                {% endif %}

                <div class="text-field">
                    {{ form.email.label }}<br>
                    {{ form.email }}<br>
                </div>

                {% if form.email.errors %}
                    <div class="alert alert-danger">{{ form.email.errors }}</div>
                {% endif %}

                <div class="text-field">
                    {{ form.password1.label }}<br>
                    {{ form.password1 }}<br>
                </div>

                {% if form.password1.errors %}
                    <div class="alert alert-danger">{{ form.password1.errors }}</div>
                {% endif %}

                <div class="text-field">
                    {{ form.password2.label }}<br>
                    {{ form.password2 }}<br>
                </div>

                {% if form.password2.errors %}
                    <div class="alert alert-danger">{{ form.password2.errors }}</div>
                {% endif %}

                <div class="button-alt-option">
                    <button type="submit">Sign Up</button>
                    <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
