{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'darkmode.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header and Navbar -->
    <header>
        <nav class="navbar">
            <a href="#">Spotify Wrapped</a>
            <a href="{% url 'contact_developers' %}">Contact</a>
            <a href="{% url 'login' %}" class="btn">Login</a>
        </nav>
    </header>

    <!-- Page Content -->
    <section class="landing-page">
        <div class="content">
            <h1>Dive Into Your Spotify And Surprise Yourself</h1>
            <p> Don't have an account? </p>
            <a href="{% url 'signup' %}" class="btn">Sign Up!</a>
        </div>
        <div class="logo">
            <img src="{% static 'spotify wrapped icon.png' %}" alt="Spotify Wrapped Logo" width="300">
        </div>
    </section>
</body>
</html>