{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Wrapped Summary</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'account_settings' %}">Account</a>
            <a href="{% url 'signout' %}" class="btn">Sign Out</a>
        </nav>
    </header>

    <div class="main-content">
        {% for profile in saved_profiles %}
            <div id="slideshow-container-{{ forloop.counter }}" class="slideshow-container">
                <!-- Slide 1: Introduction -->
                <div class="slide active">
                    <h2>{{ profile.user_name }}, are you ready to explore your musical soul?</h2>
                    <p>Your musical journey awaits—discover your top tracks, artists, and genres.</p>
                    <div class="icon-container">
                        <img src="{% static 'sound-icon.png' %}" alt="sound waves" class="intro-icon">
                    </div>
                </div>

                <!-- Slide 2: Top Artist -->
                <div class="slide">
                    <h2>Your top artist is...</h2>
                    <div class="artist-info">
                        <div class="artist-details">
                            <h3>{{ profile.top_five_artists.0.name }}</h3>
                            <img src="{{ profile.top_five_artists.0.image_url }}" alt="top artist image" class="top-artist-photo">
                        </div>
                        <div class="artist-stats">
                            <h4>Genre: {{ profile.top_five_artists.0.genres|join:", " }}</h4>
                            <h4>Popularity: {{ profile.top_five_artists.0.popularity }}</h4>
                        </div>
                    </div>
                </div>

                <!-- Slide 3: Top 5 Artists -->
                <div class="slide">
                    <h2>Your top 5 artists are...</h2>
                    <div class="artist-container">
                        {% for artist in profile.top_five_artists %}
                            <div class="artist">
                                <p>#{{ forloop.counter }}. {{ artist.name }}</p>
                                <img src="{{ artist.image_url }}" alt="artist image" class="artist-photo">
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Slide 4: Top Song -->
                <div class="slide">
                    <h2>Your top song is...</h2>
                    <div class="song-info">
                        <div class="song-details1">
                            <h6>{{ profile.top_five_songs.0.name }}</h6>
                            <img src="{{ profile.top_five_songs.0.image_url }}" alt="top song image" class="top-song-photo">
                        </div>
                        <div class="song-stats">
                            <h5>Popularity: {{ profile.top_five_songs.0.popularity }}</h5>
                        </div>
                    </div>
                </div>

                <!-- Slide 5 -->
            <div class="slide">
                <h2>Your top 5 songs are...</h2>
                <div class="song-container">
                    {% for song in profile.top_five_songs %}
                        <div class="song">
                            <p1>#{{ forloop.counter }}. {{ song.name }}</p1>
                            <img src="{{ song.image_url }}" alt="song image" class="song-photo">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Slide 6 -->
            <div class="slide">
                <h2>Your top 5 genres are...</h2>
                <div class="artist-container">
                    {% for genre, count in profile.top_genres.items %}
                        <div class="artist">
                            <p1>#{{ forloop.counter }}. {{ genre }}</p1>
                            <p>Count: {{ count }}</p> <!-- Display how often each genre appears -->
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Slide 7 -->
            <div class="slide">
                <h2>Your vibe data...</h2>
                <div class="artist-info">
                    <div class="artist-details">
                        <h4>Danceability: {{ profile.vibe_data.average_danceability|floatformat:2 }}%</h4>
                        <h4>Valence: {{ profile.vibe_data.average_valence|floatformat:2 }}%</h4>
                        <h4>Energy: {{ profile.vibe_data.average_energy|floatformat:2 }}%</h4>
                    </div>
                </div>
            </div>

                <!-- Slide for Glance Summary -->
                <div class="slide">
                    <h3>Your Musical Soul at a Glance...</h3>
                    <div class="glance-info">
                        <div class="glance-details">
                            <h7>Top Artist: {{ profile.top_five_artists.0.name }}</h7>
                            <img src="{{ profile.top_five_artists.0.image_url }}" alt="top artist image" class="artist-photo">
                        </div>
                        <div class="glance-details">
                            <h7>Top Song: {{ profile.top_five_songs.0.name }}</h7>
                            <img src="{{ profile.top_five_songs.0.image_url }}" alt="top song image" class="artist-photo">
                        </div>
                        <div class="glance-details">
                            <h7>Top Genre: {{ profile.top_genres|first }}</h7>
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 50px;">
                        <button onclick="window.location.href='{% url 'history' %}'" style="padding: 10px 20px; background-color: #3F665E; color: white; border: none; border-radius: 5px; cursor: pointer;">
                            Go Back to Your Wrapped History
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <!-- Script for Slides Navigation -->
    <script>
        const slideshows = document.querySelectorAll('.slideshow-container');

        slideshows.forEach((container, index) => {
            let slideIndex = 0;
            const slides = container.querySelectorAll('.slide');
            const dots = container.querySelectorAll('.dot');

            function showSlide(n) {
                slides.forEach((slide, i) => {
                    slide.style.display = 'none';
                });
                slides[n].style.display = 'block';
            }

            showSlide(slideIndex);

            container.querySelector('.prev').addEventListener('click', () => {
                slideIndex = (slideIndex - 1 + slides.length) % slides.length;
                showSlide(slideIndex);
            });

            container.querySelector('.next').addEventListener('click', () => {
                slideIndex = (slideIndex + 1) % slides.length;
                showSlide(slideIndex);
            });
        });
    </script>
</body>
</html>
